<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     @Styles.Render("~/Styles/Bootstrap.css", "~/Styles/Bootstrap.min.css")
     @Styles.Render("~/Styles/Style.css")

</head>
<body>
            <div class="navbar navbar-inverse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">InfoBlog</a>
                </div>
                <div class="navbar-collapse collapse navbar-inverse-collapse">
                    <ul class="nav navbar-nav">
                        <li ><a href="/Admin/Index">Blogs</a></li>
                        <li><a href="/Admin/Comments">Comments</a></li>
                        <li><a href="/Acount/Information">Information</a></li>
                        <li><a href="#">About this Blogger</a></li>
                    </ul>
                        
                <ul class="nav navbar-nav navbar-right">
                 
                      <li><a href="#">Logout</a></li>
                      
                    
                  
                </ul>
            </div>
        </div>
    
        @RenderBody()
   
</body>
</html>
