.col-lg-10 {
    width: 300px;
}
body {
    background-image:url("/Content/BackGrounds/BackGround7.jpg");
    background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;

}
#DivLoging {
    width:400px;
    height:335px;
    background-color:#fff;
    padding-left:60px;
    padding-top:15px;
    margin-left:500px;
    margin-top:150px;

}

.InfoContent {

    width:800px;
    height:auto;
    background-color:rgba(255, 255, 255, 0.63);
    margin-left: 270px;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;


}
.BlogsContent 
{
    width:1200px;
    height:auto;
    background-color:rgba(255, 255, 255, 0.63);
    margin-left: 80px;
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
     padding-bottom:15px;
}




.BlogContainer {
    width:1000px;
    
    background-color:rgba(194, 187, 187, 0.39);
    margin-left: 90px;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:15px;
    padding-left:15px;

    height:60px;
    overflow:hidden;
   
   

    
}
.BlogContainer:hover {
    height:auto;
 }

#lblDelete {
font-size:18px;

}


.form-Image {
    margin-left:250px;
}


.navbar navbar-inverse ul
{
    display:none;
}
.dropdown open ul li
{
    display:none;
}
.dropdown li:hover > ul {
    display:block;
}
.labelInfo {

    font-size:26px;
    padding:10px;
}
#Content {
width:650px;

}
.BlogDate {

margin-left:300px;
padding-right:220px;
}
.btn btn-warning {
  padding-right:200px;
}


/*.liBlog {

  color: #157ab5;
  text-decoration: underline;
}
.liComments {
    color: #157ab5;
  text-decoration: underline;
}
.liInfo {
    color: #157ab5;
  text-decoration: underline;
}
.liAbBlog {
    color: #157ab5;
  text-decoration: underline;
}
.liLgt {
    color: #157ab5;
  text-decoration: underline;
}*/

