
@model BLOG.Models.InformationBlog
@{
    ViewBag.Title = "Create";
}
    
        
        @Styles.Render("~/Styles/Bootstrap.css", "~/Styles/Bootstrap.min.css")
        @Styles.Render("~/Styles/Style.css")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

@using (Html.BeginForm()) 
{
    <div class="form-group">
          <label for="NameBlog" class="col-lg-2 control-label">Blog´s Name</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="NameBlog" name="NameBlog" placeholder=" Name" data-val="true" data-val-required="This field is required" data-val-color="red">
          </div>
    </div><br><br><br>
    <div class="form-group">
          <label for="Detail" class="col-lg-2 control-label">Detail</label>
          <div class="col-lg-10">
                        
              <textarea class="form-control" id="Detail" name="Detail" placeholder=" Detail" data-val="true" data-val-required="This field is required" data-val-color="red"></textarea>
          
          </div>
    </div>
    <br><br><br>
    <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
              
              <input type="submit" value="Create" class="btn btn-primary" >
              
              <button class="btn btn-default">Cancel</button>

              </div>
    </div>
    
}