@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUserFrontend.cshtml";
}
  @Styles.Render("~/Styles/Bootstrap.css", "~/Styles/Bootstrap.min.css")
  @Styles.Render("~/Styles/Style.css")

@using (Html.BeginForm()) 

{
    
    <div class="InfoContent">
        
        

       <fieldset>
        
           <legend> Blogger´s Information</legend><br>
          
          @foreach (var item in ViewBag.InfoBlogs)
          {
                 
              
              <label class="labelInfo">Name´s Blog :</label> <label class="labelInfo">@item.Name   </label><br>
              <label class="labelInfo">Detail :</label> <label class="labelInfo">@item.Detail   </label><br><br>
                   
          
                
                          } 
           
            
       </fieldset>
        

    </div>
    
}


